[Unit]
Description=MongoDB 3.2 Database Server
Documentation=https://docs.mongodb.org/manual
After=network-online.target
Wants=network-online.target

[Service]
User={{ mongo32_user }} 
Group={{ mongo32_group }} 
ExecStart={{ mongo32_path}}/bin/mongod -f {{ mongo32_config }}
ExecStartPre=/usr/bin/mkdir -p /var/run/mongodb32
ExecStartPre=/usr/bin/chown {{ mongo32_user }}:{{ mongo32_group }} /var/run/mongodb32
ExecStartPre=/usr/bin/chmod 0755 /var/run/mongodb32
PermissionsStartOnly=true
PIDFile=/var/run/mongodb32/mongod.pid
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false
# Recommended limits for mongod as specified in
# https://docs.mongodb.com/manual/reference/ulimit/#recommended-ulimit-settings

[Install]
WantedBy=multi-user.target